body{
    background-color: azure;
}
.main-container{
    padding: 20px;
}

.heading h1{
    padding-bottom: 10px;
    text-align: center;
    color: rgb(38, 58, 2);
    text-shadow: 5px 5px 3px grey;
    border-bottom: 2px solid gray;
}

.container img{
    float: left;
    margin: 1px 20px;
    border: 1px solid grey;
}

.container p{
    text-align: justify;
}
